<div>
	<h3>{{data.filename}}</h3>
	<h4>{{data.type}} {{data.name}}</h4>
	<p>{{data.declaration}}</p>
	<div>
		{{#data.doc}}
		<div class="mb-3 border rounded">
			<table class="doctable">
				{{#data.doc.pairs}}
				<tr>
					<th class="p-1">{{k}}</th>
					<td class="p-1"><span class="doctable-value">{{{v}}}</span></td>
				</tr>
				{{/data.doc.pairs}}
			</table>
		</div>
		{{/data.doc}}
	</div>
	<div class="mb-5">
		<h5>Overview</h5>
		<div class="container">
			<div class="row">
				<div class="col d-flex flex-column border m-1 p-1">
					<h6><a href="{{{url}}}#attributes">Attributes</a></h6>
					{{#data.attributes}}
					<a href="{{{url}}}#{{type}}-{{name}}" class="p-1"><span class="typename">{{valueType}}</span> <span class="identifier">{{name}}</span></a>
					{{/data.attributes}}
				</div>
				<div class="col d-flex flex-column border m-1 p-1">
					<h6><a href="{{{url}}}#constructors">Constructors</a></h6>
					{{#data.constructors}}
					<a href="{{{url}}}#{{type}}-{{name}}" class="p-1"><span class="identifier">{{name}}</span></a>
					{{/data.constructors}}
				</div>
				<div class="col d-flex flex-column border m-1 p-1">
					<h6><a href="{{{url}}}#methods">Methods</a></h6>
					{{#data.methods}}
					<a href="{{{url}}}#{{type}}-{{name}}" class="p-1"><span class="typename">{{valueType}}</span> <span class="identifier">{{name}}</span></a>
					{{/data.methods}}
				</div>
				<div class="col d-flex flex-column border m-1 p-1">
					<h6><a href="{{{url}}}#classes">Subclasses</a></h6>
					{{#data.classes}}
					<a href="{{{url}}}#{{type}}-{{name}}" class="p-1"><span class="typename">{{valueType}}</span> <span class="identifier">{{name}}</span></a>
					{{/data.classes}}
				</div>
			</div>
		</div>
	</div>
	<div class="mb-5">
		<h5><a name="attributes" />Attributes</h5>
		{{#data.attributes}}
		<div class="border rounded my-2 p-1">
			<a name="{{type}}-{{name}}" />
			<h6>{{valueType}} {{name}}</h6>
			{{#doc}}
			<div class="mb-3 border rounded">
				<table class="doctable">
					{{#doc.pairs}}
					<tr>
						<th class="p-1">{{k}}</th>
						<td class="p-1"><span class="doctable-value">{{{v}}}</span></td>
					</tr>
					{{/doc.pairs}}
				</table>
			</div>
			{{/doc}}
			{{#source}}
			<div class="dox-popover">
				<p class="dox-pop-btn"><img src="static/expand.svg" alt="expand" title="expand"> {{declaration}}</p>
				<div class="pop border rounded">
					<p class="dox-pop-btn"><img src="static/contract.svg" alt="expand" title="contract"></p>
					<pre><code>{{#tokens}}<span class={{type}}>{{value}}</span>{{/tokens}}</code></pre>
				</div>
			</div>
			{{/source}}
		</div>
		{{/data.attributes}}
	</div>
	<div class="mb-5">
		<h5><a name="constructors" />Constructors</h5>
		{{#data.constructors}}
		<div class="border rounded my-2 p-1">
			<a name="{{type}}-{{name}}" />
			{{#doc}}
			<div class="mb-3 border rounded">
				<table class="doctable">
					{{#doc.pairs}}
					<tr>
						<th class="p-1">{{k}}</th>
						<td class="p-1"><span class="doctable-value">{{{v}}}</span></td>
					</tr>
					{{/doc.pairs}}
				</table>
			</div>
			{{/doc}}
			{{#source}}
			<div class="dox-popover">
				<p class="dox-pop-btn"><img src="static/expand.svg" alt="expand" title="expand"> {{declaration}}</p>
				<div class="pop border rounded">
					<p class="dox-pop-btn"><img src="static/contract.svg" alt="expand" title="contract"></p>
					<pre><code>{{#tokens}}<span class={{type}}>{{value}}</span>{{/tokens}}</code></pre>
				</div>
			</div>
			{{/source}}
		</div>
		{{/data.constructors}}
	</div>
	<div class="mb-5">
		<h5><a name="methods" />Methods</h5>
		{{#data.methods}}
		<div class="border rounded my-2 p-1">
			<a name="{{type}}-{{name}}" />
			<h6>{{valueType}} {{name}}</h6>
			{{#doc}}
			<div class="mb-3 border rounded">
				<table class="doctable">
					{{#doc.pairs}}
					<tr>
						<th class="p-1">{{k}}</th>
						<td class="p-1"><span class="doctable-value">{{{v}}}</span></td>
					</tr>
					{{/doc.pairs}}
				</table>
			</div>
			{{/doc}}
			{{#source}}
			<div class="dox-popover">
				<p class="dox-pop-btn"><img src="static/expand.svg" alt="expand" title="expand"> {{declaration}}</p>
				<div class="pop border rounded">
					<p class="dox-pop-btn"><img src="static/contract.svg" alt="expand" title="contract"></p>
					<pre><code>{{#tokens}}<span class={{type}}>{{value}}</span>{{/tokens}}</code></pre>
				</div>
			</div>
			{{/source}}
		</div>
		{{/data.methods}}
	</div>
	<div class="mb-5">
		<h5><a name="classes" />Subclasses</h5>
		{{#data.classes}}
		<div class="border rounded my-2 p-1">
			<a name="{{type}}-{{name}}" />
			<h6>{{type}} {{name}}</h6>
			{{#doc}}
			<div class="mb-3 border rounded">
				<table class="doctable">
					{{#doc.pairs}}
					<tr>
						<th class="p-1">{{k}}</th>
						<td class="p-1"><span class="doctable-value">{{{v}}}</span></td>
					</tr>
					{{/doc.pairs}}
				</table>
			</div>
			{{/doc}}
			{{#source}}
			<div class="dox-popover">
				<p class="dox-pop-btn"><img src="static/expand.svg" alt="expand" title="expand"> {{declaration}}</p>
				<div class="pop border rounded">
					<p class="dox-pop-btn"><img src="static/contract.svg" alt="expand" title="contract"></p>
					<pre><code>{{#tokens}}<span class={{type}}>{{value}}</span>{{/tokens}}</code></pre>
				</div>
			</div>
			{{/source}}

			<div class="mb-5">
				<h6><a name="attributes" />Attributes</h6>
				{{#attributes}}
				<div class="border rounded my-2 p-1">
					<a name="{{type}}-{{name}}" />
					<h6>{{valueType}} {{name}}</h6>
					{{#doc}}
					<div class="mb-3 border rounded">
						<table class="doctable">
							{{#doc.pairs}}
							<tr>
								<th class="p-1">{{k}}</th>
								<td class="p-1"><span class="doctable-value">{{{v}}}</span></td>
							</tr>
							{{/doc.pairs}}
						</table>
					</div>
					{{/doc}}
					{{#source}}
					<div class="dox-popover">
						<p class="dox-pop-btn"><img src="static/expand.svg" alt="expand" title="expand"> {{declaration}}</p>
						<div class="pop border rounded">
							<p class="dox-pop-btn"><img src="static/contract.svg" alt="expand" title="contract"></p>
							<pre><code>{{#tokens}}<span class={{type}}>{{value}}</span>{{/tokens}}</code></pre>
						</div>
					</div>
					{{/source}}
				</div>
				{{/attributes}}
			</div>
			<div class="mb-5">
				<h6><a name="constructors" />Constructors</h6>
				{{#constructors}}
				<div class="border rounded my-2 p-1">
					<a name="{{type}}-{{name}}" />
					{{#doc}}
					<div class="mb-3 border rounded">
						<table class="doctable">
							{{#doc.pairs}}
							<tr>
								<th class="p-1">{{k}}</th>
								<td class="p-1"><span class="doctable-value">{{{v}}}</span></td>
							</tr>
							{{/doc.pairs}}
						</table>
					</div>
					{{/doc}}
					{{#source}}
					<div class="dox-popover">
						<p class="dox-pop-btn"><img src="static/expand.svg" alt="expand" title="expand"> {{declaration}}</p>
						<div class="pop border rounded">
							<p class="dox-pop-btn"><img src="static/contract.svg" alt="expand" title="contract"></p>
							<pre><code>{{#tokens}}<span class={{type}}>{{value}}</span>{{/tokens}}</code></pre>
						</div>
					</div>
					{{/source}}
				</div>
				{{/constructors}}
			</div>
			<div class="mb-5">
				<h6><a name="methods" />Methods</h6>
				{{#methods}}
				<div class="border rounded my-2 p-1">
					<a name="{{type}}-{{name}}" />
					<h6>{{valueType}} {{name}}</h6>
					{{#doc}}
					<div class="mb-3 border rounded">
						<table class="doctable">
							{{#doc.pairs}}
							<tr>
								<th class="p-1">{{k}}</th>
								<td class="p-1"><span class="doctable-value">{{{v}}}</span></td>
							</tr>
							{{/doc.pairs}}
						</table>
					</div>
					{{/doc}}
					{{#source}}
					<div class="dox-popover">
						<p class="dox-pop-btn"><img src="static/expand.svg" alt="expand" title="expand"> {{declaration}}</p>
						<div class="pop border rounded">
							<p class="dox-pop-btn"><img src="static/contract.svg" alt="expand" title="contract"></p>
							<pre><code>{{#tokens}}<span class={{type}}>{{value}}</span>{{/tokens}}</code></pre>
						</div>
					</div>
					{{/source}}
				</div>
				{{/methods}}
			</div>
		</div>
		{{/data.classes}}
	</div>
</div>