.keyword {
	color: purple;
}
.identifier {
	color: blue;
}
.string {
	color: red;
}
.comment {
	color: green;
}
.number {
	color: olive;
}
.declname {
	color: teal;
}
.typename {
	color: crimson;
}

.dox-popover {
	position: relative;
}
.dox-pop-btn {
	cursor: pointer;
}

.dox-popover .pop {
	display: none;
	position: absolute;
	background-color: white;
	z-index: 10;
	width: 100%;
	top: 0;
	margin-bottom: 2em;
}
.dox-popover[data-pop="true"] .pop {
	display: block;
}

.doctable th,
.doctable td {
	vertical-align: top;
}

.doctable-value p:last-child {
	margin-bottom: 0;
}